{% extends 'parse/base.html' %}
{% load static %}
{% load bootstrap %}
{% load my_tags %}
{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
            <form method="GET">
              {{ filter.form|bootstrap }}
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <br>
            <div class="card">
              <ul>
                {% for i in object_list %}
                  <li>
                    <a href="/parse/{{ i.id }}">{{ i.city }} {{ i.name }}</a>
                  </li>
                {% endfor %}
              </ul>
          </div><!-- /.card -->
        </div>
      </div>
        {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a href="?{% param_replace page=1 %}">First</a>
            {% if page_obj.previous_page_number != 1 %}
              <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
            {% endif %}
          {% endif %}

          Page {{ page_obj.number }} of {{ paginator.num_pages }}

          {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
              <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
            {% endif %}
            <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
          {% endif %}
        {% endif %}
    </div><!-- /.container-fluid -->
  </div>
{% endblock %}
    <!-- /.content -->
  <!-- /.content-wrapper -->

